@keyframes hideName {

    0% {
        left: 0;
        width: 35%;
    }




    30% {
        left: 35%;
        width: 0%;

    }
    50% {
        left: 35%;
        width: 0%;

    }
    80% {
        left: 0;
        width: 35%;

    }

    100% {

        left: 0;
        width: 35%;

    }
}



body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.header-links {

    display: flex;
    margin-top: 4vh;
    width: 85%;
    height: fit-content;
    justify-content: end;
    gap: 3vh;
    padding: 3vh;
    font-size: 1em;

}

.header-links a {
    text-decoration: none;
    color: rgb(28, 28, 197);
}

.logo {
    padding: 1vh 1vh;
    width: 15vh;
    background-color: rgb(56, 56, 56);
}

header {
    top: 0;
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.874);
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    z-index: 100;
    box-shadow: 2px 2px 5px black;
    border-top-right-radius: 2vh;

}
.header-links a{
    color: rgba(0, 0, 0, 0.865);
    font-weight: 550;
    border-radius: 3vh;
}
.header-links a:hover{
    transform: translateY(-0.5vh);
    text-shadow: 0.5vh 0.5vh 0.5vh black;
}
.header-links a:active{
    transform: translateY(0);
    text-shadow: none;
}

.intro {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10vh;
    padding: 0;
    font-family: Verdana;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
    box-shadow: 0 0 5vh rgb(0, 149, 255);

}

.container {
    margin: 5vh;
}

img {
    max-width: 100%;
}

.links {
    position: absolute;
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
}

.profile {
    border-top-left-radius: 2vh;
    box-shadow: 0 0 10vh black;
}

.myName {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.description {
    font-size: 1em;
    margin-top: 8vh;

}

.myTitle {
    font-size: 1.5em;
}

.name {
    background-color: white;
    border-top-right-radius: 2vh;

}

.thanos {
    width: 60vh;
}

.description p {
    max-width: 60vh;
    line-height: 1.8
}

.description {
    display: flex;
    flex-wrap: wrap;
    gap: 10vh;
    padding:  0;
    box-shadow: 0 0 10vh black;
    margin: 5vh;
    border-radius: 3vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.091);
    backdrop-filter: blur(10px);
}

.hider {
    border-left: 2px black solid;
    background-color: white;
    backdrop-filter: blur(5px);
    height: 8vh;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    animation: hideName 5s infinite ease-in;
}

.title {
    text-align: center;
    font-size: 2em;

    font-weight: bolder;
    font-family: sans-serif;
    padding: 5vh 0 0 0;
}

.skills-container img {
    width: 70vh;
    height: 40vh;
}

.skills-container h3 {
    padding: 3vh 0;
    text-align: center;
    width: 70vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    padding: 5vh 0;
}

.skills-item {
    padding: 5vh 2vh;
    max-width: 70vh;

}


.skills{
    
    border-radius: 5vh;
    box-shadow: 0 0 10vh rgb(0, 0, 0);
    margin: 5vh;
    background-color: rgba(255, 255, 255, 0.279);
    backdrop-filter: blur(10px);
}
.skills-container{
    background-color: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(5px);
    height: 145vw;
    box-shadow: 0 0 10vh rgb(0, 149, 255);
}

.skills-item div {
    height: fit-content;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    background-color: rgba(0, 149, 255, 0.815);
    box-shadow: 0 0 15vh rgb(0, 0, 0);
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.skills-item p {
    padding: 2vh;
    color: rgb(32, 32, 32);
    text-align: center;
    background: white;
    margin: 0;
    text-shadow: 0 1px rgba(104, 104, 104, 0.416);
}
.title::after, .title::before{
    content: "⚒️";
}
.education-container{
    background-color: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5vh rgb(0, 149, 255);
    height: 55vw;
}
.education-items{
    margin: 3vh;
    margin-bottom: 5vh;
    box-shadow: 0 0 5vh black;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 3vh ;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.279);
    backdrop-filter: blur(10px);
}
.education-items h3{
    width: 100%;
    font-weight: bold;
}
.school{
   display: flex;
    flex-flow: row wrap;
}
.education-items div img{
    max-width: 40vw;
    max-height: 40vh;
    border-radius: 2vh;
    box-shadow: 0 0 4vh;
    margin: 3vh;
}
.images{
    display: flex;
    justify-content: space-evenly;
}
.school::after, .school::before{
    content: "🏫";
}
.school{
    justify-content: center;
    width: 100%;
}